# generally ignored artifacts
/*.log
*.actual.log

# test run result files
*.trs

# build system artifacts
Makefile
Makefile.in
.deps
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/test.conf
/ylwrap

# i use this script to call ./configure with the arguments i usually
# care about.
/my-configure
