# evr-glacier-storage user service for system.
#
# Copy this file to ~/.config/systemd/user and enable and start the
# service:
#
# $ systemd --user enable evr-glacier-storage.service
# $ systemd --user start evr-glacier-storage.service

[Unit]
Description=evr-glacier-storage - The everarch storage server
Documentation=info:evr
StartLimitIntervalSec=60
StartLimitBurst=4

[Service]
# TODO make evr-glacier-storage a forking service. otherwise the startup
# dependency between evr-attr-index and evr-glacier-storage is not
# honoured. see https://unix.stackexchange.com/a/391050/147637 for
# details.
ExecStart=/usr/local/bin/evr-glacier-storage
Restart=on-failure
RestartSec=1

# Hardening
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
