# evr-attr-index user service for system.
#
# Copy this file to ~/.config/systemd/user and enable and start the
# service:
#
# $ systemd --user enable evr-attr-index.service
# $ systemd --user start evr-attr-index.service

[Unit]
Description=evr-attr-index - The everarch attribute index server
Documentation=info:evr
Requires=evr-glacier-storage.service
After=evr-glacier-storage.service
StartLimitIntervalSec=60
StartLimitBurst=4

[Service]
# You may want to add certain options to the evr-attr-index command.
#
# Appending '--log server.log' will write the evr-attr-index logs into a
# file. This is feasible because evr-attr-index will fork
# and drop all logs instead.
ExecStart=/usr/local/bin/evr-attr-index

Type=forking
Restart=on-failure
RestartSec=30
TimeoutStartSec=60

# Hardening
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
